

.user-list {

}

.receivedDate {
  font-size: 12px;
  position: absolute;
  top: 0;
  right: 10px;
  width: 70px;
  text-align: right;
}

.textService {
  margin-right: 2px;
}

.secondaryText {

}

.draftText {
  margin-right: 2px;
}

.iconRightBottom {
  position: absolute;
  top: 22px;
  right: 10px;
}

.pinned-icon {

}

.icon-right {

}

.verifiedIcon {
  position: relative;
  margin-left: 3px;
  width: 11px;
  height: 11px;
  display: inline-block;
}

.checkIcon {
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 50px;
  width: 9px;
  height: 9px;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);
}