


.container {
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.inner-container {
    padding: 15px;
}

.reply {
    border-left: 3px solid;
    padding-left: 8px;
    margin-bottom: 5px;
}

.reply-title {
    font-weight: 500;
}

.reply-text {

}

.item {
    font-size: 12px;
}

.item:after {
    content: '';
    clear: both;
    display: block;
}

.item-inner-block {
    max-width: 80%;
    padding: 8px 12px;
    border-radius: 6px;
    position: relative;
}

.item + .item {
    margin-top: 10px;
}

.interlocutor-sender {
    float: right;
    text-align: right;
}

.message {

}

.received-date {
    position: absolute;
    bottom: 3px;
    right: 5px;
}