

.wrapper {
  padding-left: 320px;
}

.container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.stepper {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.description {
  margin: 50px 0 0;
  font-size: 15px;
  line-height: 22px;
}
