

.wrapper {
  /*max-width: 1120px;*/
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  padding-left: 320px;

}

.container {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.stepper {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.description {
  margin: 10px 0;
}
