.left-block {
    width: 37%;
    border-right: 1px solid #E7E7E7;
    float: left;
}

.searchInput {
    color: #000;
    border: 2px solid transparent;
    border-radius: 3px;
    /*padding: 0 14px;*/
    box-sizing: content-box;
}

.search-input-wrapper {
    width: 100%;
    margin: 11px 0 0;
    height: 32px;
}