

.inner-container {
}

.title-block {
    padding: 19px 20px;
    border-bottom: 1px solid;
}

.title {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
}

.tab + .tab {
    margin-left: 5px !important;
}

.options-block {
    margin-top: 20px;
    height: 100%;
}

.control-options-block {
    padding: 0 20px;
    height: calc(100vh - 160px);
    overflow-y: auto;
}

.control-label {
    line-height: 20px;
    font-size: 13px;
    float: left;
    width: 60%;
}

.form-control {
    float: right;
    width: 30%;
    text-overflow: ellipsis;
}


.switch-type-of-image {
    margin: 20px 0 0;
}

.editing-component {

}

.editing-component + .editing-component {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid rgb(229, 229, 229);
}

.editing-block {
    font-size: 14px;
    line-height: 1.55;
}

.editing-title {
    display: inline-block;
}

.editing-element {
    font-weight: 500;
}

.social-links {
    border-bottom: 1px solid;
    margin-bottom: 6px;
}

.social-link {
    width: 20px;
    height: 20px;
    display: inline-block;
}

.social-link svg {
    fill: #ccc;
    transition: fill 250ms;
}

.social-link:hover svg {
    fill: #bbb;
}

.social-link + .social-link {
  margin-left: 10px;
}

.editing-info {
    margin-top: 10px;
    font-size: 12px;
}

.form-control-wrapper:after {
    content: '';
    clear: both;
    display: block;
}

.form-group {
    margin-top: 15px;
}

.form-group:after {
    content: '';
    clear: both;
    display: block;
}





.bottom-block {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    text-align: center;
    color: #999;
    font-size: 10px;
}

.image-input {
    margin-top: 15px;
}
