.container {
    height: 27px;
    border-radius: 2px 2px 0 0;
}

.buttons-container {
    float: right;
    padding-right: 4px;
}

.button {
    float: left;
    margin-left: 8px;
}

.icon-minimize {

}

.icon-size-window {

}

.icon-close {

}