.container {
    height: 27px;
    border-radius: 2px 2px 0 0;
}

.buttons-container {
    float: right;
}

.button {
    float: left;
    text-align: center;
    width: 27px;
    height: 27px;
}

.icon-minimize {

}

.icon-size-window {

}

.icon-close {

}